@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.app {
    padding: 0 !important;
    height: 100%;
    width: 100%;
    background-color: rgb(17, 85, 113);
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.logo-navbar {
    height: 40px;
    width: 40px;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 85, 113);
}
