html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.app {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgb(17, 85, 113);
}

.logo-navbar {
    height: 40px;
    width: 40px;
}
